.header  {
  text-align:center;
  background-color:rgb(201, 152, 194);
  color:white;
  font-size: 35px;
  padding:20px;
}

a:hover {
    background-color: #f191d5;
    color: rgb(252, 245, 245);
}

a   {
    background-color: #FFEBCD;
    font-size: 25px;
    border-style: inset;
    border-width: 7px;
    border-color:orchid;
    padding: 20px;
    width: 200px;
    height: 70px;
}

body    {
    background-color: "#FFF0F5";
    text-align: center;
    color: purple;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p   {
    background-color: #FFEBCD;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:orchid;
    padding: 20px;
    width: 200px;
    height: 60px;
    margin: auto;
  }

figcaption  {
    background-color: #FFEBCD;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:orchid;
    padding: 20px;
    width: 200px;
    height: 34px;
    margin:auto
}


.topnav {
    background-color: #FFEBCD;
    overflow: hidden;
  }
  
  .topnav a {
    float:left;
    color:purple;
    text-align: center;
    padding: 15px 35px 15px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color:rgb(247, 192, 228);
    color: white;
  }
  
  .topnav a.active {
    background-color: #f191d5;
    color: rgb(252, 245, 245);
  }