a:hover {
    color:hotpink;
}

a   {
    background-color: #FFEBCD;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:orchid;
    padding: 20px;
    width: 200px;
    height: 70px;
}

body    {
    background-color: "FFFAF0";
    text-align: center;
    color: purple;
}

p   {
    background-color: #FFEBCD;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:orchid;
    padding: 20px;
    width: 200px;
    height: 65px;
}

figcaption  {
    background-color: #FFEBCD;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:orchid;
    padding: 20px;
    width: 200px;
    height: 65px;
}