a:hover {
    background-color: rgb(193, 192, 247);
    color: rgb(252, 245, 245);
}

a   {
    background-color: #ADD8E6;
    font-size: 25px;
    border-style: inset;
    border-width: 7px;
    border-color:skyblue;
    padding: 20px;
    width: 200px;
    height: 70px;
}

body    {
    background-color: "#E6E6FA";
    text-align: center;
    color: purple;
}

p   {
    background-color: #ADD8E6;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:skyblue;
    padding: 20px;
    width: 200px;
    height: 65px;
    margin:auto;
}

figcaption  {
    background-color: #ADD8E6;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:skyblue;
    padding: 20px;
    width: 200px;
    height: 34px;
    margin: auto;
}

.topnav {
    background-color: #cde9ff;
    overflow: hidden;
  }
  
  .topnav a {
    float:left;
    color:purple;
    text-align: center;
    padding: 15px 35px 15px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color:rgb(193, 192, 247);
    color: white;
  }
  
  .topnav a.active {
    background-color: #9197f1;
    color: rgb(245, 251, 252);
  }