a:hover {
    color:mediumvioletred;
}

a   {
    background-color: #ADD8E6;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:skyblue;
    padding: 20px;
    width: 200px;
    height: 70px;
}

body    {
    background-color: "#E6E6FA";
    text-align: center;
    color: purple;
}

p   {
    background-color: #ADD8E6;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:skyblue;
    padding: 20px;
    width: 200px;
    height: 65px;
}

figcaption  {
    background-color: #ADD8E6;
    font-size: 25px;
    border-radius: 30px;
    border-style: inset;
    border-width: 7px;
    border-color:skyblue;
    padding: 20px;
    width: 200px;
    height: 34px;
}